<div class='d-flex flex-row justify-content-evenly mt-4 flex-wrap'>
  {{#each blogpost}}
    <div class='card text-dark bg-info mb-3'>
      <h2 class="d-flex card-header card-title justify-content-center">
        <a class="nav-link text-light" href='/dashboard/change/{{id}}'>{{title}}</a>
      </h2>
      <div class='d-flex justify-content-center card-body'>
        <div class="card-text">
          {{text}}
          Created at {{createdAt}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
<div class="d-flex justify-content-center mt-3">
  <a class="btn btn-info bg-gradient text-dark" href="/dashboard/make">Create Your Own Post</a>
</div>