<div class="d-flex justify-content-center">
  <div class="mt-4 card border p-4 w-50 bg-light text-dark">
    <h2 class="text-center mb-4">Create New BlogPost:</h2>
    <form class="form blogpost-form">
      <div class="form-group">
        <label for="title-blogpost" class="form-label">Blogpost Title:</label>
        <input class="form-input form-control mt-2" type="text" id="title-blogpost" />
      </div>
      <div class="form-group">
        <label for="text-blogpost" class="form-label">Text:</label>
        <input class="form-input form-control mt-2" type="text" id="text-blogpost" />
      </div>
      <div class="d-flex form-group justify-content-center mt-3">
        <button class="btn btn-success w-50" type="submit">Create!</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/dashboard.js"></script>